@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slideUp {
    animation: slideUp 0.5s forwards;
    opacity: 0; /* set initial opacity to 0 */
  }
  
  .opacity-0 {
    opacity: 0;
  }
/* Light Theme */
body[data-theme='light']::-webkit-scrollbar,
body[data-theme='light'] *::-webkit-scrollbar {
    width: 10px;
}

body[data-theme='light']::-webkit-scrollbar-track,
body[data-theme='light'] *::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 6px;
}

body[data-theme='light']::-webkit-scrollbar-thumb,
body[data-theme='light'] *::-webkit-scrollbar-thumb {
    background-color: #D0D9D9;
    border-radius: 6px;
}

/* Dark Theme */
body[data-theme='dark']::-webkit-scrollbar,
body[data-theme='dark'] *::-webkit-scrollbar {
    width: 10px;
}

body[data-theme='dark']::-webkit-scrollbar-track,
body[data-theme='dark'] *::-webkit-scrollbar-track {
    background-color: #272822;
    border-radius: 6px;
}

body[data-theme='dark']::-webkit-scrollbar-thumb,
body[data-theme='dark'] *::-webkit-scrollbar-thumb {
    background-color: #49483E;
    border-radius: 6px;
}

/* Firefox */
body[data-theme='light'] {
    scrollbar-width: thin;
    scrollbar-color: #D0D9D9 #FAFAFA;
}

body[data-theme='dark'] {
    scrollbar-width: thin;
    scrollbar-color: #49483E #272822;
}

